<template>
	<div class="container">
    	<div class="card">
        	<div class="card-body">
        		<div class="form-header text-center">
		            <h3 class="mt-2"><i class="fa fa-envelope"></i> Directory Details</h3>
		        </div>
		        <form class="form-horizontal" action="/users" method="post">
					<div class="form-group">
						<label class="control-label col-sm-2" for="room">Room:</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" id="room" placeholder="Enter Room" name="room" v-model="room"/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="name">Name:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" v-model="name"/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="location">Location:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="location" placeholder="Enter Name" name="location" v-model="location"/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="contact_number">Contact No.:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="contact_number" placeholder="Enter Name" name="contact_number" v-model="contact_number"/>
						</div>
					</div>
					<div class="form-group">
							<button type="button" class="btn btn-default" v-on:click="UpdateDirectory()">Update</button>
							<a href="/departments" class="btn btn-success pull-right">Back</a>
					</div>
				</form>
        	</div>
        </div>		
    </div>
</template>

<script>
	export default {
		props: ['id'],
		data() {
			return {
				room:'',
				name:'',
				location:'',
				contact_number:'',
				official_id:'',
			}
		},
		mounted() {
			axios({
				method: 'GET',
				url: '/api/departments/'+this.id
			}).then(response =>{
				var directory = response.data;
				console.log(directory);
				this.room=directory.room
				this.name=directory.name
				this.location=directory.location
				this.contact_number=directory.contact_number
				this.official_id=directory.official_id
			}).catch(error =>{
				console.log(error)
			})
		},
		methods: {
			UpdateDirectory() {
				axios({
					method: 'PUT',
					url: '/api/departments/'+this.id,
					data: {
						room: this.room,
						name: this.name,
						location: this.location,
						contact_number: this.contact_number,
						official_id: this.official_id
					}
				}).then(response =>{
					swal(
                      'Congartulations!',
                      'You successfully edited ' + response.data.name + ' directory',
                      'success'
                    )
				}).catch(error =>{
					console.log(error)
				})
			}
		}
	}
</script>