<template>
	<div class="container">
    	<div class="card">
        <div class="card-body">
          <!-- Header -->
          <div class="form-header text-center">
            <h3 class="mt-2"><i class="fa fa-envelope"></i> Events List</h3>
          </div>
          <a href="/departments/create" class="btn btn-success pull-right">Add new Event</a>
          <!-- Body -->
          <table id="department_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Details</th>
                <th>Event Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Details</th>
                <th>Event Dmh0ate</th>
                <th>Action</th>
              </tr>
            </tfoot>
         </table>
        </div>
      </div>
 		</div>
</template>

<script>
	export default {
		data(){
      return {
        users:[],
        user:{
          id:0,
          name:'',
          email:''
        },
        url: '/api/events'
      }
    },
    mounted() {
        this.getDepartments()
    },
    methods: {
      moment() {
        return moment();
      },
      getDepartments(){
        $(document).ready( function () {
            $('#department_table').DataTable({
            "processing": true,
            "ordering" : true,
            "retrieve": true,
            "paging": true,
            "ajax": {
                "url": '/api/events',
                "type": "GET"
                },
                "columns": [
                    {
                        "data": "id",
                        "render": function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        "data": "title",
                        "render": function (data, type, row, meta) {
                           return data
                        }
                    },
                    {
                        "data": "details",
                        "render": function (data, type, row, meta) {
                            return data
                        }
                    },
                    {
                        "data": "event_date",
                        "render": function (data, type, row, meta) {
                            return data
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return (
                              '<a href="/departments/' + data.id + '/edit" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>'
                          )
                        }
                    }
                ]
            });
           /* $('#department_table').on('click','.delete-user',function (e) {
                e.preventDefault();
                var id = $(e.target).attr('data-id');
                axios({
                    method: "DELETE",
                    url: "/api/users/"+id
                }).then(function (response) {
                    var table = $(department_table).DataTable();
                    table.ajax.reload();
                });
            });*/
        });
      }
    }
  }
</script>

