<template>
	<div class="container">
    	<div class="card">
        <div class="card-body">
          <!-- Header -->
          <div class="form-header text-center">
            <h3 class="mt-2"><i class="fa fa-envelope"></i> Users Listing </h3>
          </div>
          <a href="/users/create" class="btn btn-sm btn-success pull-right">Add new user</a>
          <!-- Body -->
          <table id="user_table" class="table table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
 		</div>
</template>

<script>
	export default {
		data(){
			return {
				users:[],
				user:{
					id:0,
					name:'',
					email:''
				},
				url: '/api/users'
			}
		},
    mounted() {
        this.getUsers()
    },
    methods: {
      moment() {
        return moment();
      },
    	getUsers(){
    		let $this = this;
        $(document).ready( function () {
            $('#user_table').DataTable({
            "processing": true,
            "ordering" : true,
            "retrieve": true,
            "paging": true,
            "ajax": {
                "url": "/api/users",
                "type": "GET"
                },
                "columns": [
                    {
                        "data": "id",
                        "render": function (data, type, row, meta) {
                           return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        "data": "name",
                        "render": function (data, type, row, meta) {
                            return data
                        }
                    },
                    {
                        "data": "email",
                        "render": function (data, type, row, meta) {
                            return data
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return (
                              '<a href="/users/' + data.id + '/edit" class="btn btn-sm btn-primary">Edit</a>' + ' ' +
                              '<a data-id="' + data.id + '" class="btn btn-sm btn-danger delete-user">Delete</a>'
                          )
                        }
                    }
                ]
            });
            $('#user_table').on('click','.delete-user',function (e) {
                e.preventDefault();
                var id = $(e.target).attr('data-id');
                axios({
                    method: "DELETE",
                    url: "/api/users/"+id
                }).then(function (response) {
                    var table = $(user_table).DataTable();
                    table.ajax.reload();
                });
            });
        });
    	}
    }
  }
</script>

