<template>
	<div class="container">
    	<div class="card">
        	<div class="card-body">
        		<div class="form-header text-center">
		            <h3 class="mt-2"><i class="fa fa-envelope"></i> Add New User</h3>
		        </div>
		        <form class="form-horizontal" action="/users" method="post">
					<div class="form-group">
						<label class="control-label col-sm-2" for="name">Name:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" v-model="name"/>
							<span v-if="errors.name" class="error">{{errors.name[0]}}</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="name">Email:</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" v-model="email"/>
							<span v-if="errors.email" class="error">{{errors.email[0]}}</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="name">Password:</label>
						<div class="col-sm-10">
							<input type="Password" class="form-control" id="password" placeholder="Enter Password" name="password" v-model="password"/>
							<span v-if="errors.password" class="error">{{errors.password[0]}}</span>
						</div>
					</div>
					<div class="form-group">
							<button type="button" class="btn btn-default" v-on:click="addNewUser()">Save</button>
							<a href="/users" class="btn btn-success pull-right">Back</a>
					</div>
				</form>
        	</div>
        </div>		
    </div>
</template>

<script>
	export default {
		data() {
			return {
				name:'',
				email:'',
				password:'',
				errors: []
			}
		},
		methods: {
			addNewUser() {
				this.errors = []
				axios({
					method: "POST",
					url: "/api/users",
					data: {
						name: this.name,
						email: this.email,
						password: this.password
					}
				}).then(response => {
					this.name=""
					this.email=""
					this.password=""
				}).catch(error => {
					if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
				})
			}
		} 
	}
</script>