<template>
    <div class="product">
        <a data-toggle="modal" data-target="#CitizenCharterModal">
            <div class="tm-nav-link green">
                <i class="fa fa-group fa-3x tm-nav-icon"></i>
                <span class="tm-nav-text">Citizen Charter</span>
                <div class="product__bg"></div>        
            </div>
        </a>                                   
        <!-- [ Modal #1 ] -->
        <div class="modal fade" id="CitizenCharterModal" tabindex="-1" role="dialog" aria-labelledby="CitizenCharterLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal"><i class="icon-xs-o-md"></i></button>
                    <div class="modal-header green white-text text-center">
                        <h2 class="modal-title" id="CitizenCharterLabel">Citizen Charter</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="list-group">
                            <div class="row">
                                <div class="col-md-3 text-center">No.</div>
                                <div class="col-md-9 text-left">Front Line Services</div>
                            </div>
                        </div>
                        <div class="list-group" v-for="(charter, index) in charters">
                            <a class="list-group-item waves-effect" data-dismiss="modal" data-toggle="modal" :data-target="'#charter' +charter.id">
                                <div class="row">
                                    <div class="col-md-3 text-center">{{index + 1}}</div>
                                    <div class="col-md-8 text-left">{{charter.name}}</div>
                                    <div class="col-md-1 text-left"><i class="fa fa-angle-double-right"></i></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Modal #2 ] -->
        <div  v-for="(charter, index) in charters">
            <div class="modal fade" :id="'charter' +charter.id" tabindex="-1" role="dialog" aria-labelledby="CitizenCharterLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal"><i class="icon-xs-o-md"></i></button>
                        <div class="modal-header green white-text">
                            <h2 class="modal-title" id="CitizenCharterLabel">{{charter.name}}</h2>
                            <button type="button" class="close" data-toggle="modal" data-target="#CitizenCharterModal" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                             <div class="list-group">
                                <div class="row">
                                    <div class="col-md-9 text-center"><h4 class="text-info">Select Type</h4></div>
                                    <div class="col-md-3 text-center"></div>
                                </div>
                            </div>
                            <div class="list-group" v-for="(file, i) in charter.files">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-9 text-left text-success d-flex align-items-center">
                                                <p>{{file.description}}</p>
                                            </div>
                                            <div class="col-md-3 text-center d-flex align-items-center" >
                                                <!-- <a class="text-black" href="/uploads/a.pdf">Download</a> -->
                                                <a type="button" class="btn btn-floating btn btn-info my-4 btn-block" data-dismiss="modal" data-toggle="modal" data-target="#haha">
                                                   View Steps
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="tn btn-floating btn btn-warning my-4" data-toggle="modal" data-target="#CitizenCharterModal" data-dismiss="modal">
                               Go back to previous
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <!-- [ Modal #3 ] -->
        <div v-for="(charter, index) in charters" class="modal fade" id="haha" tabindex="-1" role="dialog" aria-labelledby="CitizenCharterLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal"><i class="icon-xs-o-md"></i></button>
                    <div class="modal-header green white-text text-center">
                        <h2 class="modal-title" id="CitizenCharterLabel">{{charter.name}}</h2>
                        <button type="button" class="close" data-toggle="modal" :data-target="'#charter' +charter.id" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="list-group">
                             <embed  src="/uploads/a.pdf?page=hsn#toolbar=0" width="765" height="500"></embed>
                        </div>
                    </div>
                </div>
            </div>
        </div>                       
    </div>
</template>
<script>
    export default {
        data(){
            return {
                charters:[],
                file:'',
                url: '/api/charters'
            }
        },
        mounted() {
            this.getCharters()
        },
        methods: {
            getCharters(){
                let $this = this
                axios({
                    method: "GET",
                    url: this.url
                }).then(function(response){
                    this.charters = response.data
                }.bind(this))
            },
            launch(){
                $('#CitizenCharterModal').modal('hide');
            },
            addNewFile() {
                this.errors = [];
                let formData = new FormData();
                formData.append('file', this.file);
                formData.append('charter_id', 2);
                axios.post( '/api/files',
                        formData,
                    {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                  }
                ).then(function(response){
                    console.log(response);
                })
                .catch(function(err){
                    console.log(err);
                });
            },
            handleFileUpload(){
                this.file = this.$refs.file.files[0];
            }
        }
    }
</script>