<template>
    <div class="product">
        <a data-toggle="modal" data-target="#ContactModal" v-on:click="clearForm()">
            <div class="tm-nav-link deep-purple">
                <i class="fa fa-comments fa-3x tm-nav-icon"></i>
                <span class="tm-nav-text">Contact us</span>
                <div class="product__bg"></div>             
            </div>
        </a>                                                         
        <div class="modal fade" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="FeedbackLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header deep-purple white-text text-center">
                        <h5 class="modal-title" id="DirectoryLabel">Contact us</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       <form class="text-center border border-light p-5">
                            <label>Your Details</label>
                            <div class="form-group">
                                <input type="text" id="name" class="form-control mb-4" placeholder="Name" name="name" v-model="name"/>
                                <small v-if="errors.name" class="red-text form-text text-muted mb-4">{{errors.name[0]}}</small>
                            </div>
                            <div class="form-group">
                                <input type="email" id="email" class="form-control mb-4" placeholder="E-mail" name="email" v-model="email"/>
                                <small v-if="errors.email" class="red-text form-text text-muted mb-4">{{errors.email[0]}}</small>
                            </div>
                            <label>Subject</label>
                            <div class="form-group">
                                <input type="text" id="subject" class="form-control mb-4" placeholder="Subject" name="subject" v-model="subject"/>
                                <small v-if="errors.subject" class="red-text form-text text-muted mb-4">{{errors.subject[0]}}</small>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control rounded-0" id="message" rows="3" placeholder="Message" name="message" v-model="message"></textarea>
                                <small v-if="errors.message" class="red-text form-text text-muted mb-4">{{errors.message[0]}}</small>
                            </div>
                            <button type="button" class="btn deep-purple btn-block"  v-on:click="addNewContact()">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name:'',
                email:'',
                subject:'',
                message: '',
                errors: []
            }
        },
        methods: {
            addNewContact() {
                this.errors = []
                axios({
                    method: "POST",
                    url: "/api/contacts",
                    data: {
                        name: this.name,
                        email: this.email,
                        subject: this.subject,
                        message: this.message
                    }
                }).then(response => {
                    this.name=""
                    this.email=""
                    this.subject=""
                    this.message=""
                    swal(
                      'Thank You!',
                      'You successfully submitted the form!',
                      'success'
                    )
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors
                    } else {
                        null
                    }
                })
            },
            clearForm() {
                this.name=""
                this.email=""
                this.subject=""
                this.message=""
                this.errors =""
            }
               
        } 
    }
</script>

<!-- <div class="card">
    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Contact us</strong>
    </h5>
    <div class="card-body px-lg-5 pt-0">
        <form class="text-center" style="color: #757575;">
            <div class="md-form mt-3">
                <input type="text" id="materialContactFormName" class="form-control">
                <label for="materialContactFormName">Name</label>
            </div>
            <div class="md-form">
                <input type="email" id="materialContactFormEmail" class="form-control">
                <label for="materialContactFormEmail">E-mail</label>
            </div>
            <span>Subject</span>
            <select class="mdb-select">
                <option value="" disabled>Choose option</option>
                <option value="1" selected>Feedback</option>
                <option value="2">Report a bug</option>
                <option value="3">Feature request</option>
                <option value="4">Feature request</option>
            </select>
            <div class="md-form">
                <textarea type="text" id="materialContactFormMessage" class="form-control md-textarea" rows="3"></textarea>
                <label for="materialContactFormMessage">Message</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="materialContactFormCopy">
                <label class="form-check-label" for="materialContactFormCopy">Send me a copy of this message</label>
            </div>
            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Send</button>

        </form>
    </div>
</div> -->